/*

default.css : CSS style reset and utility snippet.
edited by Y.M.

Including :
reset.css ... HTML5 Doctor Reset Stylesheet
utillity
 .float-left, .float-right, .hide, .show, .clearfix, .break, .ellipsis

!reference:
http://coliss.com/articles/build-websites/operation/css/css-snippets-for-kick-start-project-by-codrops.html


other knowledge 
http://qiita.com/kokushin/items/95a0ed389665fd51898a
http://commte.net/blog/archives/4619

*/

/*****************************************************/

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*****************************************************/

/*
css snippet
edited by Y.M.
*/

img {
    max-width: 100%;
    height: auto;
    width /***/:auto;　
}

a {
    text-decoration: none;
    color: #08C;
    transition: all 0.3s ease-out;
    position: relative;
    padding: .5em;
    margin: -.5em;
}
  
a:hover { color: #0AF; }

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

pre {
    white-space: pre-wrap;       /* Chrome & Safari */
    white-space: -moz-pre-wrap;  /* Mozilla since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

@media print {
    * {
        background: none !important;
        color: black !important;
        box-shadow: none !important;
        text-shadow: none !important;
  
        /* Images, vectors and such */
        filter: Gray();                          /* IE4-8: depreciated */
        filter: url('desaturate.svg#grayscale'); /* SVG version for IE10, Firefox, Safari 5 and Opera */
        -webkit-filter: grayscale(100%);         /* Chrome + Safari 6 */
        -moz-filter: grayscale(100%);            /* Future proof */
        -ms-filter: grayscale(100%);             /* Future proof */
        -o-filter: grayscale(100%);              /* Future proof */
        filter: grayscale(100%);                 /* Future proof or polyfilled */
    }
  
    a {
        text-decoration: underline;
    }
  
    a[href]:after {
        content: " (" attr(href) ")";
    }
  
    a[href="#"],
    a[href="javascript:"] {
        content: "";
    }
}

/*
Utility parts
edited by Y.M.
*/

.float-left {
    float: left;
}
  
.float-right {
    float: right;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
  
.clearfix:after {
    clear: both;
}
  
/* IE6/7 support */
.clearfix {
    *zoom: 1;
}

.break {
    -ms-word-break: break-all;
    word-break: break-all;
  
    word-break: break-word;
  
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
  
.ellipsis {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis; /* Required for IE8 */
    -o-text-overflow: ellipsis; /* Required for Opera */
    text-overflow: ellipsis;
}

.bd-red {
    border: 1px solid red !important;
} 

.bd-blue {
    border: 1px solid blue !important;
}

.bd-yellow {
    border: 1px solid yellow !important;
}
